<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AUTHOR || UPDATE</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/fragment :: js_link" ></div>
    <div th:replace="fragments/fragment :: css_link" ></div>
    <div th:replace="fragments/fragment :: ganeric_css" ></div>
    <div th:replace="fragments/fragment :: navbar " ></div>
    <div th:replace="fragments/fragment :: homecss " ></div>
    <div th:replace="fragments/fragment :: formCss" ></div>
    <div class="main">
        <button>
            <a th:href="@{/author/home}">Back</a>
        </button>
        <div class="form-wrap">
            <form th:action="@{/author/update/{id}(id = ${authorDto.id})}" th:method="post" th:object="${authorDto}">
                <h1>Update Author Details</h1>
                <input type="hidden" th:field="*{id}">
                <label for="name">Name</label>
                <input type="text"  id="name" th:field="*{name}">

                <label for="email">Email</label>
                <input type="email" id="email" th:field="*{email}">

                <label for="mobile">Mobile Number</label>
                <input type="number" id="mobile" th:field="*{mobile_number}">

                <input type="submit" value="Save">
                <input type="reset" value="Reset">

            </form>

        </div>
    </div>
</div>
</body>
</html>