<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BOOK || HOME</title>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/fragment :: js_link" ></div>
    <div th:replace="fragments/fragment :: css_link" ></div>
    <div th:replace="fragments/fragment :: ganeric_css" ></div>
    <div th:replace="fragments/fragment :: navbar " ></div>
    <div th:replace="fragments/fragment :: homecss " ></div>
    <div class="main">
        <h2 class="head_caption"><u><i>Book Details</i></u></h2>
        <button>
            <a th:href="@{/book/add}">Create</a>
        </button>
        <table id="members">
            <thead>
            <tr>
                <th>S.N</th>
                <th>Name</th>
                <th>Isbn</th>
                <th>Stock Count</th>
                <th>Rating</th>
                <th>Published Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i,loop:  ${data}">
                <td th:text="${loop.count}"></td>
                <td th:text="${i.name}"></td>
                <td th:text="${i.isbn}"></td>
                <td th:text="${i.stockCount}"></td>
                <td th:text="${i.rating}"></td>
                <td th:text="${i.published_date}"></td>
                <td>
                    <a class="button1" th:href="@{/book/view/{id}(id =${i.id})}">View</a>
                    <a class="button3" th:href="@{/book/update/{id}(id =${i.id})}">Update</a>
                    <a class="button2" th:href="@{/book/delete/{id}(id =${i.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>