<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MEMBER || HOME</title>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/fragment :: js_link" ></div>
    <div th:replace="fragments/fragment :: css_link" ></div>
    <div th:replace="fragments/fragment :: ganeric_css" ></div>
    <div th:replace="fragments/fragment :: navbar " ></div>
    <div th:replace="fragments/fragment :: homecss " ></div>
    <div class="main">
        <h2 class="head_caption">Member Details</h2>
        <button >
            <a th:href="@{/member/memberForm}">Create</a>
        </button>
        <table id="members">
            <thead>
            <tr>
                <th>S.N</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i,loop:  ${data}">
                <td th:text="${loop.count}"></td>
                <td th:text="${i.name}"></td>
                <td th:text="${i.email}"></td>
                <td th:text="${i.contact}"></td>
                <td th:text="${i.address}"></td>
                <td>
                    <a class="button1" th:href="@{/member/update}">Update</a>
                    <a class="button2" th:href="@{/member/home}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>