<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RETURN BOOK || HOME</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/fragment :: js_link" ></div>
    <div th:replace="fragments/fragment :: css_link" ></div>
    <div th:replace="fragments/fragment :: ganeric_css" ></div>
    <div th:replace="fragments/fragment :: navbar " ></div>
    <div class="main">
        <h2>return book Page</h2>
    </div>
</div>
</body>
</html>