<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CATEGORY || ADD</title>
    <link th:href="@{/css/displayError.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/fragment :: js_link" ></div>
    <div th:replace="fragments/fragment :: css_link" ></div>
    <div th:replace="fragments/fragment :: ganeric_css" ></div>
    <div th:replace="fragments/fragment :: navbar " ></div>
    <div th:replace="fragments/fragment :: homecss " ></div>
    <div th:replace="fragments/fragment :: formCss" ></div>
    <div class="main">
        <button>
            <a th:href="@{/category/home}">Back</a>
        </button>
        <div class="form-wrap">
            <form th:action="@{/category/add}" th:method="post" th:object="${categoryDto}">
                <h1><u><i>Add Category</i></u></h1>
                <label for="name">Title</label>
                <input type="text" placeholder="Enter title" id="name" th:field="*{title}">
                <p class="display_msg" th:if="${#fields.hasErrors('title')}"
                   th:errors="*{title}"></p>

                <label for="des">Description</label><br>
                <textarea id="des" cols="74" rows="5" th:field="*{description}">
                </textarea>
                <p class="display_msg" th:if="${#fields.hasErrors('description')}"
                   th:errors="*{description}"></p>

                <br>
                <input type="submit" value="Save">
                <input type="reset" value="Reset">
            </form>
            <h4 th:text="*{message}"></h4>
        </div>
    </div>
</div>
</body>
</html>