<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book || Rental</title>

</head>
<body>
   <div class="container">
       <div th:replace="fragments/fragment :: js_link" ></div>
       <div th:replace="fragments/fragment :: css_link" ></div>
       <div th:replace="fragments/fragment :: ganeric_css" ></div>
       <div th:replace="fragments/fragment :: navbar " ></div>
            <div class="content">
                <div class="header">
                    BOOK RENTAL SYSTEM
                </div>
                <p>
                         Reporting
                </p>
            </div>
   </div>
</body>
</html>