<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title> RENT || BOOK</title>
    <link th:href="@{/css/formCss.css}" rel="stylesheet"/>
    <script>
        window.onmousedown = function (e) {
            var el = e.target;
            if (el.tagName.toLowerCase() == 'option' && el.parentNode.hasAttribute('multiple')) {
                e.preventDefault();

                // toggle selection
                if (el.hasAttribute('selected')) el.removeAttribute('selected');
                else el.setAttribute('selected', '');

                // hack to correct buggy behavior
                var select = el.parentNode.cloneNode(true);
                el.parentNode.parentNode.replaceChild(select, el.parentNode);
            }
        }

    </script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/fragment :: js_link" ></div>
    <div th:replace="fragments/fragment :: css_link" ></div>
    <div th:replace="fragments/fragment :: ganeric_css" ></div>
    <div th:replace="fragments/fragment :: navbar " ></div>
    <div th:replace="fragments/fragment :: homecss " ></div>
    <!--    <div th:replace="fragments/fragment :: formCss" ></div>-->
    <div class="main">
        <button>
            <a th:href="@{/rentbook/search}">Back</a>
        </button>
        <div class="form-wrap">
            <form th:action="@{/rentbook/select}" th:method="post" th:object="${transactionDto}" >
                <h1><u><i>Search Book For Rent</i></u></h1>
                <label>Select Book: </label>
                <select th:field="*{bookId}">
                    <option value="default">Select book</option>
                    <th:block th:each="book :${bookList}">
                        <option th:value="${book.id}" th:text="${book.name }"></option>
                    </th:block>
                </select>
                <br>
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
</div>
</body>
</html>